* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFE7C6;
}

.about__header {
  max-width: 120px;
  max-height: 158px;
}
.about__container {
  margin-top: 30px;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 67px;
}
.about__full_windows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  height: 482px;
}
.about__window {
  font-size: 24px;
  background-color: #FFE7C6;
  padding: 10px 27px;
  max-width: 125px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 16px;
  border: 1px solid;
}
.about__windows {
  background-color: #FFE7C6;
  border-radius: 2px;
  border: 1px solid;
}
.about__windows_texts {
  padding-top: 33px;
}
.about__windows_title {
  font-size: 32px;
  margin-bottom: 24px;
}
.about__windows_text {
  font-size: 24px;
  font-weight: 300;
}

.footer {
  background-color: #FFE7C6;
  border-top: 1px solid;
}
.footer__container {
  padding-top: 12px;
  padding-left: 144px;
  padding-right: 144px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.footer__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
  font-size: 16px;
}
.footer__buttons a {
  text-decoration: none;
  color: #000;
}
.footer__icon {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 47px;
}
.footer__telega {
  background-color: #e7c79f;
  padding: 7px 7px;
  border-radius: 10px;
}
.footer__youtube {
  background-color: #e7c79f;
  border-radius: 10px;
  padding: 7px 7px;
}
.footer__vk {
  background-color: #e7c79f;
  border-radius: 10px;
  padding: 14px 8px 10px 8px;
}
.footer__googleplay {
  display: flex;
  align-items: center;
  gap: 7px;
  background-color: #e7c79f;
  border-radius: 10px;
  padding: 14px 7px 12px 14px;
  max-width: 123px;
  margin-top: 15px;
}
.footer__Get_it_on {
  font-size: 10px;
}
.footer__Google_Play {
  font-size: 12px;
  font-weight: 600;
}
.footer__google_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__google_text a {
  text-decoration: none;
  color: #000;
}
.footer__text_2 {
  margin-top: 30px;
  font-size: 16px;
}
.footer__phone {
  background-color: #e7c79f;
  border-radius: 10px;
  padding: 7px 10px;
}
.footer__reliability {
  margin-top: 99px;
  font-size: 12px;
  font-weight: 200;
}
.footer__help {
  text-align: right;
}
.footer__number_phone {
  font-size: 32px;
  margin-top: 23px;
}
.footer__time {
  margin-top: 25px;
}
.footer__description {
  font-size: 14px;
  font-weight: 200;
  margin-top: 101px;
}
.footer__texts {
  margin-left: 40px;
}